<a href="https://colab.research.google.com/github/chandrusrini679/task-1/blob/main/Copy_of_Assessment2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [2]:
import pandas as pd

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [4]:
df1 = pd.read_csv('college_1.csv')
df1.head()

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0

In [5]:
df2 = pd.read_csv('college_2.csv')
df2.head()

,Name,python,python_en,mysql,computational_thinking,Previous Geekions,CodeKata Score,Department,Rising
0,ASHOK KUMAR K,100,0,31,9,19400,19400,Electronics and Electrical Engineering,0
1,Chandru,0,20,0,0,14150,14490,Computer Science and Engineering,340
2,Ganesh Ramkumar R,-1,55,24,6,8790,10790,Computer Science and Engineering,2000
3,Bodipudi Harini,-1,0,35,-1,10040,10040,Electronics and Communication Engineering,0
4,VIINU V P,-1,100,24,-1,9150,9150,Electronics and Electrical Engineering,0

In [6]:
df = pd.concat([df1,df2], axis = 0, ignore_index = True)
df

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.0,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.0,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.0,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.0,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.0,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

In [14]:
a = df.loc[(df['CodeKata Score'] > 15000)]
a.to_csv('Exceeded expectations.csv')
a

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.0,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0

###### if  10000<codekata score<15000   (Reached_expectations.csv)

In [15]:
b = df.loc[(df['CodeKata Score'] > 10000) & ( df['CodeKata Score'] < 15000 )]
b.to_csv('Reached_expectations.csv')
b

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
85,Chandru,0.0,0.0,14150,14490,Computer Science and Engineering,340,20.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
87,Bodipudi Harini,-1.0,35.0,10040,10040,Electronics and Communication Engineering,0,0.0,-1.0

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

In [16]:
c = df.loc[(df['CodeKata Score'] > 7000) & ( df['CodeKata Score'] < 10000 )]
c.to_csv('Needs_Improvement.csv')
c

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
88,VIINU V P,-1.0,24.0,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
89,Poojitha Y,0.0,35.0,7210,8970,Computer Science and Engineering,1760,78.0,0.0
90,Gowtham Chandrasekaran,-1.0,0.0,7250,8950,Computer Science and Engineering,1700,0.0,3.0
91,Gowtham R,-1.0,4.0,8650,8650,Electronics and Communication Engineering,0,60.0,6.0
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
93,Balaji,-1.0,20.0,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
94,Rushitha,-1.0,62.0,7470,8090,Computer Science and Engineering,620,15.0,9.0
95,Balaraman Muthupandi,-1.0,0.0,7670,8050,Computer Science and Engineering,380,9.0,0.0
96,JPradhap,100.0,0.0,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
97,SRIRAMKUMAR B,-1.0,0.0,6400,7940,Computer Science and Engineering,1540,0.0,0.0
98,Praneetha,-1.0,100.0,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0
99,Rahul Raj K,-1.0,0.0,6280,7640,Computer Science and Engineering,1360,0.0,0.0
100,Guhan S,-1.0,35.0,7310,7630,Electronics and Communication Engineering,320,72.0,39.0
101,Suryarajan S,-1.0,31.0,6710,7550,Computer Science and Engineering,840,63.0,0.0

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [17]:
d = df.loc[(df['CodeKata Score'] < 7000)]
d.to_csv('Unsatisfactory.csv')
d

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
8,J.SUGANTHI,27.0,50.00,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.00,5500,5500,Computer Science and Engineering,0,NaN,NaN
10,Iyappan Samiraj,50.0,24.00,5400,5400,Electronics and Communication Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
114,praveen raj j,24.0,0.00,2380,2380,Computer Science and Engineering,0,-1.0,0.0
115,AMARNATH D,-1.0,12.00,1890,1890,Electronics and Communication Engineering,0,52.0,-1.0
116,bala,32.0,0.00,1720,1720,Electronics and Communication Engineering,0,49.0,-1.0
117,XY Z,-1.0,-1.00,0,0,Computer Science and Engineering,0,20.0,-1.0
118,Hariharan,-1.0,-1.00,0,0,Computer Science and Engineering,0,-1.0,0.0

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [18]:
df.head(1)

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN

In [19]:
a = df['Previous Geekions'].mean()
b = df['CodeKata Score'].mean()
print('Average of Previous Geekions score is ', a)
print('Average of CodeKata Score score is ', b)

Average of Previous Geekions score is  3842.3529411764707
Average of CodeKata Score score is  4051.764705882353

###### No of students participated

In [20]:
df['Name'].count()

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [21]:
overall_average = df.loc[(df['python']==100.0) | (df['mysql']==100.0) | (df['python_en']==100.0) | (df['computational_thinking']==100.0)]
overall_average

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
2,HEMAVATHI.R,100.0,100.00,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.00,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.00,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.00,8200,8200,Computer Science and Engineering,0,NaN,NaN
11,Ponniyamma.R,100.0,11.25,5380,5380,Computer Science and Engineering,0,NaN,NaN
12,SABAPATHI,100.0,0.00,5280,5280,Computer Science and Engineering,0,NaN,NaN
13,RAGHAVAN,100.0,0.00,5120,5120,Computer Science and Engineering,0,NaN,NaN
15,Pavithra,100.0,100.00,4600,4600,Computer Science and Engineering,0,NaN,NaN
17,v.vithyasri,100.0,12.00,4370,4370,Electronics and Communication Engineering,0,NaN,NaN
18,Abirami Anbazhagan,100.0,0.00,4320,4320,Electronics and Communication Engineering,0,NaN,NaN
19,S.srinivasan,100.0,12.00,4090,4090,Computer Science and Engineering,0,NaN,NaN
20,s.janani,100.0,0.00,3915,3915,Computer Science and Engineering,0,NaN,NaN
22,Yuvasri,100.0,100.00,3460,3460,Computer Science and Engineering,0,NaN,NaN
24,MEERA.M,100.0,100.00,3200,3200,Computer Science and Engineering,0,NaN,NaN
25,Tpavithra,100.0,24.00,3200,3200,Electronics and Communication Engineering,0,NaN,NaN
26,sri dharshini,100.0,100.00,3110,3110,Computer Science and Engineering,0,NaN,NaN
28,pooja priya.B,100.0,100.00,2570,2570,Computer Science and Engineering,0,NaN,NaN
29,chithra,100.0,0.00,2410,2410,Computer Science and Engineering,0,NaN,NaN
30,manikandan,100.0,0.00,2360,2360,Computer Science and Engineering,0,NaN,NaN
31,Kaliaperumal G,100.0,0.00,2260,2260,Computer Science and Engineering,0,NaN,NaN
34,tamilarasi,100.0,100.00,1910,1910,Computer Science and Engineering,0,NaN,NaN
36,selvakumar,100.0,0.00,1900,1900,Computer Science and Engineering,0,NaN,NaN
37,nivedha.s,100.0,77.00,1880,1880,Computer Science and Engineering,0,NaN,NaN
38,Stephen,100.0,0.00,1880,1880,Computer Science and Engineering,0,NaN,NaN
40,HSharukhan,100.0,0.00,1680,1680,Computer Science and Engineering,0,NaN,NaN
41,vijayakumar,100.0,0.00,1580,1580,Computer Science and Engineering,0,NaN,NaN
44,ponni.p,93.0,100.00,1350,1350,Computer Science and Engineering,0,NaN,NaN
45,PRAVEENA K,100.0,100.00,1320,1320,Computer Science and Engineering,0,NaN,NaN
46,siva sai perumal polisetti,100.0,12.00,1240,1240,Electronics and Communication Engineering,0,NaN,NaN
49,bavithra,0.0,100.00,1020,1020,Electronics and Communication Engineering,0,NaN,NaN
53,RANJITH.R,100.0,0.00,800,800,Electronics and Communication Engineering,0,NaN,NaN
56,pravina,100.0,100.00,720,720,Computer Science and Engineering,0,NaN,NaN
60,muvendiran.m,100.0,7.50,410,410,Electronics and Communication Engineering,0,NaN,NaN
61,Aravind,100.0,0.00,380,380,Computer Science and Engineering,0,NaN,NaN
62,Haasini,100.0,0.00,300,300,Computer Science and Engineering,0,NaN,NaN
64,k.parvathi,100.0,100.00,260,260,Electronics and Electrical Engineering,0,NaN,NaN
69,karthika.G,100.0,0.00,120,120,Computer Science and Engineering,0,NaN,NaN
72,Subhashini,100.0,4.00,120,120,Electronics and Electrical Engineering,0,NaN,NaN
74,J.Bhuvaneshwari,100.0,20.00,100,100,Electronics and Electrical Engineering,0,NaN,NaN
77,J.JAYANTHI,100.0,100.00,40,40,Electronics and Electrical Engineering,0,NaN,NaN
78,vikneshwaran,100.0,4.00,40,40,Electronics and Electrical Engineering,0,NaN,NaN
84,ASHOK KUMAR K,100.0,31.00,19400,19400,Electronics and Electrical Engineering,0,0.0,9.0
88,VIINU V P,-1.0,24.00,9150,9150,Electronics and Electrical Engineering,0,100.0,-1.0
93,Balaji,-1.0,20.00,6170,8160,Electronics and Electrical Engineering,1990,100.0,0.0
96,JPradhap,100.0,0.00,7340,8030,Electronics and Electrical Engineering,690,0.0,0.0
98,Praneetha,-1.0,100.00,7170,7730,Electronics and Communication Engineering,560,23.0,-1.0

In [23]:
average = (len(overall_average)/len(df))*100
average

38.655462184873954

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [24]:
a = df.sort_values(by = 'Rising', ascending = False).head(3)
a

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0

In [25]:
df.nlargest(3,'Rising')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [26]:
a = df.sort_values(by = 'CodeKata Score', ascending = False).head(3)
a

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

In [28]:
df.nlargest(3,'CodeKata Score')

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [29]:
a = df.groupby(['Department'])['CodeKata Score'].sum()
a

Department
Computer Science and Engineering             320025
Electronics and Communication Engineering    108335
Electronics and Electrical Engineering        53800
Name: CodeKata Score, dtype: int64

In [30]:
import plotly.express as px
fig=px.pie(df,names='Department',values='CodeKata Score',title='Department wise codekata performence')
fig

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [32]:
a = df.groupby(['Department'])['CodeKata Score'].agg('max')
a

Department
Computer Science and Engineering             24500
Electronics and Communication Engineering    10040
Electronics and Electrical Engineering       19400
Name: CodeKata Score, dtype: int64

In [35]:
a = px.bar(df,x='Department',y='CodeKata Score', title = 'Department wise Toppers')
a

In [34]:
a = px.scatter(df,x='Department',y='CodeKata Score',size='CodeKata Score',hover_data=['Name'], title = 'Department wise Toppers')
a